.background_shade {
    position: absolute;
    top: -65px;
    left: 0;
    max-height: 65px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.829);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgba(228, 228, 228, 0.774);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}