*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid #766262;
    padding: 10px 20px;
    width: 400px;
    display: inline-block;
    margin: auto;
}

.card img{
    width: 100%;
}