@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(to bottom, #47e26e 50%, #2e380c 100%); */
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}