.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box{
    display: flex;
    flex-direction: column;  
    width: 30%;
    height: 80%;
    box-shadow: 2px 9px 14px -1px #000;
    justify-content: center;
    align-items: center; 
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;
    border-radius: 4px 5px 5px 4px;
    margin-top: 50px;
    border: 1.5px solid rgb(20, 20, 148);
}