@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #1824d1 50%, #2f78a8 100%);
    font-family: 'Montserrat', sans-serif;
}